<div class="about">
    <h2>About us</h2>
    <div class="img"><div class="image"></div></div>
    <div class="about1"><p>This company is fictional and it is not real. All the items are are also fictional and there is nothing being sold on here that is real. This is a fictional company based upon a school project and nothing is ever going to be sold on this page.</p></div>
    <div class="about2"><p>The last update to this page was in Mars of 2019.</p></div>
</div>