<div class="product_page"> <div class="ad"></div><h2>Bluespeaker smart speaker</h2>
        <img src=" img/smart_speaker@300x300.jpeg" alt="A smart speaker">
        <div class="desc">Bluespeakers first smart speaker incorperating all of the available smart systems.</div>
        <div class="price">
        <p> 2999 SEK</p> <p class="shadow dealcontent"> Save 10% </p>
            <div class="addcart shadow" onclick="addItemToCart(['Bluespeaker smart speaker', 1, '2999'])"> Add to cart </div>
        </div>
        <h3>Techical Specifications</h3>
        <table>
        <tr>
        <td>Platform</td>
        <td>Android, iOS, Linux, Windows, MacOS, Wear OS, Tizen, Fitbit</td>
        </tr>
        <tr>
        <td>Power Source</td>
        <td>USB-C</td>
        </tr>
        <tr>
        <td>Cable connections</td>
        <td>USB-C 3,5mm headphone Jack </td>
        </tr>
        <tr>
        <td>Wireless connectivity</td>
        <td> WIFI 6 Bluetooth</td>
        </tr>
        </table>
        </div>
        <script>
        document.addEventListener("DOMContentLoaded", (e) => {
            alreadyInCart("Bluespeaker smart speaker")
        });
        </script>
        