<div class="product_page"> <div class="ad"></div><h2>Bluespeaker smart speaker</h2><img src=" img/ ahj" alt="23ds">
    <div class="desc">Bluespeakers first smart speaker incorperating all of the available smart systems.</div>
    <div class="price"><p> 234 SEK</p> <div class="addcart"> Add to cart </div> </div>
    <h3>Techical Specifications</h3>
    <table>
        <tr>
            <td>Platform</td>
            <td>Android, iOS, Linux, Windows, MacOS, Wear OS, Tizen, Fitbit</td>
        </tr>
        <tr>
            <td>Power Source</td>
            <td>USB-C</td>
        </tr>
        <tr>
            <td>Cable connections</td>
            <td>USB-C 3,5mm headphone Jack </td>
        </tr>
        <tr>
            <td>Wireless connectivity</td>
            <td> WIFI 6 Bluetooth</td>
        </tr>
    </table> </div>