<h2 class="subpage_title">Current deals</h2>
<div class="items">

    <%
    require 'yaml' 

        data =  YAML.load_file('data/products.yaml')

        i = 0
    data[2]['deals'].each do |variable|
        if variable['deal'] != nil
            thing = '<div class="off">' + variable['deal'] + ' off!</div>'
        else
            thing = ""
        end
    %>

    <a class="shadow" href="<%= variable['name'].gsub(/\s/,'-')+ ".html" %>">
        <img src="img/<%= variable['img'] %>" alt="">
            <%= thing %>
            <div class="name">
                <%= variable['name'] %>
            </div>
    </a>

    <%
        end
    %>
</div>