<div class="product_page"> <div class="ad"></div><h2>Gaming mouse</h2>
        <img src=" img/computer_mouse_blue@300x300.png" alt="A blue gaming mouse">
        <div class="desc">A comfortable gaming mouse with adjustable weight for the perfect fealing. DPI ranging from 20-2000 means the 360 no-scopes are going to get even easier. Or if using drawing programs alot this mouse is going to be your perfect companion. Draw in a straigt line, draw in a circle or draw just as wonky as youd like. This mouse provides all the options.</div>
        <div class="price">
        <p> 800 SEK</p> <p> Save 40% </p>
            <div class="addcart" onclick="addItemToCart(['Gaming mouse', 1, '800'])"> Add to cart </div>
        </div>
        <h3>Techical Specifications</h3>
        <table>
        <tr>
        <td>Platform</td>
        <td>Windows 10, Windows 8, Windows 8.1, Ubunto, Linux Mint, Raspbian</td>
        </tr>
        <tr>
        <td>Power Source</td>
        <td>USB-C</td>
        </tr>
        <tr>
        <td>Cable connections</td>
        <td>USB-C </td>
        </tr>
        <tr>
        <td>Wireless connectivity</td>
        <td> -</td>
        </tr>
        </table>
        </div>