<div class="carousel">
    <!-- TODO: ADD CONTENT AND A PROPER ALT TEXT -->
    <div class="slide">
        <img src="" alt="This is only alt">
        <div class="slide-text">
            Text one
        </div>
    </div>

    <div class="slide">
        <img src="" alt="This is only alt2">
        <div class="slide-text">
            Text two
        </div>
    </div>

    <a class="prev" onclick="changeSlide('-1')">Prev</a>
    <a class="next" onclick="changeSlide('1')">next</a>

</div>