<div class="product_page"> <div class="ad"></div><h2>something</h2><img src=" img/ ahj" alt="23ds">
    <div class="desc">sad</div>
    <div class="price"><p> 234kr</p> </div>
    <table>
        <tr>
            <td>Platform</td>
            <td>windows</td>
        </tr>
        <tr>
            <td>Power Source</td>
            <td>USB-C</td>
        </tr>
        <tr>
            <td>Cable connections</td>
            <td>USB-C 3,5mm headphone </td>
        </tr>
        <tr>
            <td>Wireless connectivity</td>
            <td> WIFI 6</td>
        </tr>
    </table> </div>