<div class="product_page"> <div class="ad"></div><h2>UPhone</h2>
        <img src=" img/generic_phone@300x300.jpeg" alt="U-Phone">
        <div class="desc">The UPhone is the latest device from U-Corp. Technologies. It comes loaded with all of the latest software and hardware fresh from the factory. It delivers unparraleled performace and battery life. This latest device is not only the hottest device in its price range but also the best device for you.</div>
        <div class="price">
        <p> 5000 SEK</p>
            <div class="addcart shadow" onclick="addItemToCart(['UPhone', 1, '5000'])"> Add to cart </div>
        </div>
        <h3>Techical Specifications</h3>
        <table>
        <tr>
        <td>Platform</td>
        <td>U-Corp Industries Intertechonollogy</td>
        </tr>
        <tr>
        <td>Power Source</td>
        <td>USB-C</td>
        </tr>
        <tr>
        <td>Cable connections</td>
        <td>USB-C 3,5mm headphone Jack </td>
        </tr>
        <tr>
        <td>Wireless connectivity</td>
        <td> WIFI 2</td>
        </tr>
        </table>
        </div>
        <script>
        document.addEventListener("DOMContentLoaded", (e) => {
            alreadyInCart("UPhone")
        });
        </script>
        