@import 'variable.css.sass'
.wrapper
    h2
        margin: 0 0 0 8px
    .buttons
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        background: $dark-color
        position: sticky
        top: 44px
        left: 0
        z-index: 99999
        .button
            margin: 4px
            display: flex
            justify-content: center
            align-items: center
        a
            width: calc(100%/3)
            margin: 0 !important
            border-width: 1px
            border-color: $primary-color
            border-style: solid
            padding: 4px
            display: block
            text-decoration: none
            color: $text-color
            transition: all 1s
        a:hover
            background: $primary-color