.items
    display: flex
    flex-wrap: wrap
    // margin: auto
    padding: 10px
    a
        text-decoration: none
        color: black
    .item
        background: green
        max-width: 150px
        max-height: 150px
        width: 20vw
        height: 20vw
        display: flex
        align-items: bottom
        a          
            height: 100%
            vertical-align: bottom
