.nav
    position: fixed
    bottom: 0
    top: 0
    left: -65vw
    width: 60vw
    background-color: grey
    transition: all 0.3s
    z-index: 100000000000000
    h4
        margin-left: 5px
.active
    left: 0
.blur
    filter: blur(2px)
.navback
    background-color: rgba(0,0,0,0.5)
    position: fixed
    top: 0
    left: -120vw
    bottom: 0
    width: 100vw
    transition: all 0.3s
    z-index: 10000000000000