@import 'variable.css.sass'

.nav
    position: fixed
    bottom: 0
    top: 0
    left: -65vw
    width: 60vw
    background-color: $text-color
    transition: all 0.3s
    z-index: 5000
    h4
        margin-left: 5px
    a
        text-decoration: none
        color: black
.blur
    filter: blur(2px)
.navback
    background-color: rgba(0,0,0,0.5)
    position: fixed
    top: 0
    left: -120vw
    bottom: 0
    width: 100vw
    transition: all 0.3s
    z-index: 3
.active
    left: 0