body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%; }

@media only screen and (min-width: 850px) {
  .wrapper {
    display: grid;
    grid-template-columns: 15vw auto;
    grid-template-rows: auto auto auto; } }

.content {
  grid-row: 2;
  grid-column: 2;
  width: 100%;
  height: 100%; }

.show {
  display: block; }

.wrapper {
  transition: all 0.3s; }

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #0061ff;
  height: 44px;
  z-index: 100000;
  grid-column: span 2; }
  @media only screen and (min-width: 850px) {
    header .material-icons {
      display: none; } }

#menu {
  position: fixed;
  top: 10px;
  left: 10px;
  transition: all 1s ease; }

#cart {
  position: fixed;
  top: 10px;
  right: 24px;
  transition: all 1s ease; }

.wrapper h2 {
  margin: 0 0 0 8px; }
.wrapper .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0038cb;
  position: sticky;
  top: 44px;
  left: 0;
  z-index: 99999; }
  .wrapper .buttons .button {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .wrapper .buttons a {
    width: calc(100%/3);
    margin: 0 !important;
    border-width: 1px;
    border-color: #0061ff;
    border-style: solid;
    padding: 4px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: all 1s; }
  .wrapper .buttons a:hover {
    background: #0061ff; }

.cart {
  width: 100%; }

.nothing {
  text-align: center;
  margin: 30px auto 30px auto !important; }

.cart_content {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  height: 100%;
  justify-content: center;
  align-items: center; }
  .cart_content p {
    vertical-align: middle;
    padding: 3px; }
  .cart_content .cartItem:nth-child(2n) {
    background: dimgrey; }
    .cart_content .cartItem:nth-child(2n) .removeButton, .cart_content .cartItem:nth-child(2n) .addButton {
      color: #ffffff !important; }
  .cart_content .cartItem {
    border: solid rgba(0, 0, 0, 0.4) 0.5px;
    width: 100%;
    display: grid;
    grid-template-columns: 40vw 60px auto;
    grid-template-rows: auto;
    grid-gap: 3px; }
    .cart_content .cartItem .quantity {
      height: 70%;
      max-height: 40px;
      border: solid rgba(0, 0, 0, 0.4) 1px;
      display: grid;
      grid-template-columns: 20px auto 20px; }
      .cart_content .cartItem .quantity .removeButton, .cart_content .cartItem .quantity .addButton, .cart_content .cartItem .quantity p {
        background: rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        color: black; }
      .cart_content .cartItem .quantity p {
        padding: 3px;
        background: white;
        margin: 0;
        color: black; }
    .cart_content .cartItem .price {
      display: flex;
      justify-content: flex-end;
      grid-row: 1;
      grid-column: 3; }
  .cart_content .quant {
    display: flex;
    justify-content: center;
    align-items: center; }

.checkout {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; }
  .checkout p {
    text-align: center;
    padding: 3px;
    width: 80px;
    background: #0061ff;
    color: #ffffff;
    transition: all 0.4s ease;
    cursor: pointer; }

.checkout p:hover {
  border-radius: 15px; }

.sum {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px; }

footer {
  background-color: #0061ff;
  width: 100%;
  padding: 5px 0 5px 0;
  max-height: 90px; }
  footer a {
    text-decoration: none;
    color: #ffffff; }
  footer p {
    text-align: center;
    color: #ffffff; }
  @media only screen and (min-width: 850px) {
    footer {
      grid-column: span 2; } }

.carousel {
  padding: 10px 0 10px 0;
  margin-bottom: -40px; }

.slide {
  display: none;
  grid-template-columns: auto auto;
  grid-template-rows: calc( 100vw / 3) 1px;
  grid-template-areas: "img img" "indicators indicators"; }
  @media only screen and (min-width: 850px) {
    .slide {
      grid-template-rows: calc((100vw - 15vw )/ 3) 1px; } }
  .slide .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    grid-area: img;
    background-size: contain;
    background-repeat: no-repeat; }

.circles {
  z-index: 100;
  width: 100%;
  grid-area: indicators;
  position: relative;
  bottom: 20px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.slide_circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 3px; }

.prev, .next {
  grid-area: img;
  z-index: 1000;
  cursor: pointer;
  position: relative;
  bottom: calc((100vw /3)/1.6);
  width: 35px !important;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 850px) {
    .prev, .next {
      bottom: calc(((100vw - 15vw)/3)/1.6); } }

.prev {
  left: 0; }

.next {
  max-width: 37px;
  left: calc(100% - 41px - 37.03px) !important;
  border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.7); }

.nav {
  position: fixed;
  bottom: 0;
  top: 0;
  left: -65vw;
  width: 60vw;
  background-color: #ffffff;
  transition: all 0.3s;
  z-index: 5000; }
  .nav h4 {
    margin-left: 5px; }
  .nav a {
    text-decoration: none;
    color: black; }

.blur {
  filter: blur(2px); }

.navback {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: -120vw;
  bottom: 0;
  width: 100vw;
  transition: all 0.3s;
  z-index: 3; }

.active {
  left: 0; }

@media only screen and (min-width: 850px) {
  .mobile {
    display: none; }

  .desktop {
    border-right: solid black 1px;
    grid-row: 2;
    grid-column: 1;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0; } }
.menu_items {
  position: relative;
  height: 100%;
  min-height: 80vh; }

.menu_bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 20px; }

.product_page {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: auto auto;
  margin: 0 5px 0 7px;
  grid-template-areas: "ad ad" "title title" "img price" "desc desc" "spectitle spectitle" "spec spec";
  grid-gap: 10px; }
  .product_page img {
    margin-left: 5px;
    grid-area: img;
    max-width: 30vh;
    max-height: 30vh;
    height: auto;
    border-radius: 2px; }
  .product_page h3 {
    margin: 0 0 5px 5px;
    grid-area: spectitle;
    display: flex;
    justify-content: top;
    font-size: 1.3rem;
    align-items: flex-end; }
  .product_page .addcart {
    position: relative;
    top: 0;
    left: 0;
    background: #0038cb;
    padding: 0 4px 0 4px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.2s; }
  .product_page .addcart:hover {
    border-radius: 15px; }

.ad {
  grid-area: ad;
  width: 100%;
  height: 90px;
  margin-top: 10px;
  background-image: url("../img/trianglify_banner@450x150.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center; }
  @media only screen and (min-width: 420px) {
    .ad {
      background-image: url("../img/trianglify_banner@600x200.png"); } }
  @media only screen and (min-width: 850px) {
    .ad {
      background-image: url("../img/trianglify_banner@900x300.png"); } }

.desc {
  grid-area: desc; }

.price {
  grid-area: price;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px; }
  .price p {
    margin: 4px;
    font-size: 1.45rem; }
  .price p:last-of-type {
    padding: 0 3px 0 3px;
    font-size: 1.75rem;
    background: #0061ff;
    color: #ffffff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }

table {
  grid-area: spec;
  margin-bottom: 10px;
  border: solid 1px #e6e6e6;
  border-radius: 1px; }
  table tr:nth-child(2n+1) {
    background: lightgrey; }

.subpage_title {
  margin: 10px; }

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .items .off {
    transform: translateX(30%) translateY(0%) rotate(45deg);
    transform-origin: top left;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px;
    background: #0061ff;
    letter-spacing: 2px;
    color: #ffffff; }
  .items .off:before, .items .off:after {
    content: "";
    position: absolute;
    top: 0;
    margin: 0 -1px;
    width: 100%;
    height: 100%;
    background: #0061ff; }
  .items .off:before {
    right: 100%; }
  .items .off:after {
    left: 100%; }
  .items a {
    overflow: hidden;
    text-decoration: none;
    color: black;
    margin: 20px;
    background: green;
    max-width: 200px;
    max-height: 200px;
    width: 36vw;
    height: 36vw;
    position: relative;
    border-radius: 3px; }
  .items img {
    height: 100%;
    width: 100%;
    border-radius: 3px; }
  .items .name {
    position: relative;
    bottom: 5px;
    transform: translateY(-100%);
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: center;
    border-radius: 0 0 3px 3px; }

.about {
  margin: 20px;
  height: 100%; }
  .about a {
    text-decoration: none; }
  .about .img {
    width: 90px;
    height: 90px;
    float: left;
    display: flex;
    justify-content: flex-start; }
    @media only screen and (min-width: 420px) {
      .about .img {
        width: 110px;
        height: 110px; } }
    @media only screen and (min-width: 850px) {
      .about .img {
        width: 150px;
        height: 150px; } }
    .about .img .image {
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/logo_transparent@100x100.png"); }
      @media only screen and (min-width: 850px) {
        .about .img .image {
          background-image: url("../img/logo_transparent@500x500.png"); } }
  .about .about1 {
    padding: 5px; }
